<app-topbar titulo="Acerca de"></app-topbar>

<ion-content>
    <ion-row class="ion-justify-content-center">
      <ion-img src="assets/images/bitsamericas.png"></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label>Mauricio Galindo Rios</ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-label>Versión 0.0.1</ion-label>
      </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-label>Testing API REST</ion-label>
          <label class="help-text">https://my-json-server.typicode.com/bitsmauriciogalindo/test</label>
      </ion-row>
</ion-content>
