.book-detail{

    ion-img{
        margin: 10px 0;
        max-width: 50%;
    }
    
    .summary{
        margin: 10px 20px;
    }

    .details{
        font-size: 0.6rem;
    }

    .rating{
        color: #FF9900;
    }
}