<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Mi Bitsblioteca</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/">
          <ion-icon name="home"></ion-icon><ion-label>Mis libros</ion-label>
        </ion-item>
        <ion-item routerLink="/micuenta"><ion-icon name="contact"></ion-icon><ion-label>Mi Cuenta</ion-label></ion-item>
        <ion-item routerLink="/acercade"><ion-icon name="help-circle"></ion-icon><ion-label>Acerca de</ion-label></ion-item>
        <ion-item><ion-icon name="exit"></ion-icon><ion-label>Salir</ion-label></ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>